<!DOCTYPE html>
<html>
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <title>Formulario</title>
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="Alex">
    
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    
    <!-- CSS -->
    
    <link rel="stylesheet" href="css/form.css">


    <!-- AngularJS -->

        

</head>
<body>
    
    <div align="center">

      <h2>Registro</h2>

        <form method="post" action="" name="signup_form">
            <div>
              <input 
                     name="document" 
                     type="text"             
                     placeholder="Documento*"      
                     required/>
            <!--
                ng-model="signup.document" 
                ng-minlength=9
                ng-maxlength=9
                ng-model-options="{ updateOn: 'mousedown blur' }"

            -->
            </div>
            <br>
            <div>
              <input 
                     type="text" 
                     name="name"
                     placeholder="Nombre"/>
            </div>
            <br>
            <div>
              <input  
                     type="email" 
                     name="email" 
                     placeholder="Correo electr&oacute;nico*"
                     required/>
                <!--
                <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid">
                  <small class="error"ng-show="signup_form.email.$error.required">Campo obligatorio.</small>
                  <small class="error" ng-show="signup_form.email.$error.email">Este email es err&oacute;neo, introduzca uno válido.</small>
                  <small class="error" ng-show="signup_form.email.$error.maxlength">M&aacute;ximo 255 caracteres.</small>
                </div>
                -->
            </div>
            <br>
              <input 
                     type="submit" 
                     value="Enviar" 
                     class="btn btn-success pull-right push-bottom" 
                     data-loading-text="" 
                     ng-click="submit(signup)"
                     ng-disabled = "signup_form.document.$invalid || signup_form.password.$invalid || signup_form.email.$invalid || passinvalido || signup_form.re_password.$pristine">

        </form>
      </div>
    </div>

</body>